body {
  background-color: rgb(201, 201, 201);
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: Arial;
}
table {
  margin: 0 auto;
  /*border: 1px solid #0b4d03;*/
  border-collapse:collapse;
}
td, th {
  border: 1px solid #0b4d03;
  padding: 4px;
}
    #container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0 auto;
  }

  #header {
    float: left;
      width: 100%;
      height: 100px;
      padding: 0px;
      margin: 0px;
      background-color: #0b4d03;
      text-align: left;
  }
  #login {
    border-color: #0b4d03;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding: 20px;
    margin-top: 40px;
    text-align: left;
	background-color: rgb(201, 201, 201);
  }
  #main-menu {
    border-color: #0b4d03;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding: 20px;
    margin-top: 40px;
	margin-bottom: 40px;
    text-align: left;
	background-color: white;
  }
/*course-overview CSS*/
  #dropdown-select td {
	padding: 0.3625rem 1.4rem;
	
  }
  #dropdown-select select {
	  margin: 0 0 .5rem 0.5rem;
  }
  #course-overview button {
	padding: .75rem 1.5rem .75rem 1.5rem;
	margin: 0 0 .5rem;
  }
  #course-overview td {
	text-align: center;
  }

  .container {
    border-color: #0b4d03;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding: 20px;
    margin-top: 40px;
    text-align: left;
  }
  #title {
    color: white;
    font-size: 30px;
    line-height: 140px;
    padding-left: 20px;
  }

  .page {
    /*background-color: white;*/
    padding: 20px;
    display:inline-block;
    margin: 20px auto;
  /*  box-shadow: 0px 0px 5px #888888;*/
  }

  .add td, .add th {
    border: none;
  }
  .tableButton {
    border: none;
  }
